 #eb7100;
}

#termes{
  float:left;
  height:400px;
  margin-right: 25px;
}

li{
  margin: 3px 0px;
  font-style: italic;
  list-style-image: url('bogyo.png') ;
}

.blokktores{
  clear: both;
}
.hatter{
  background-image:url("hatter.png");
}
.bevezeto{
  width: 600px;
}